<footer>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-md-12" id="devise-menu">
        &copy; 2014 - All rights reserved.
        Made with <span class="glyphicon glyphicon-heart" style="font-size:80%;"></span> by <a href="http://gbanis.com" title="George Banis, full stack web developer." target="blank">George Banis</a> in Boston.
      </div>
    </div>
  </div>
</footer>
