<%= form_for @new_link do |f| %>
  <div class="field">
    <%= f.text_field :amzn_url, placeholder: "Paste an Amazon product URL"%>
    <div class="form-example">e.g. http://www.amazon.com/Cards-Against-Humanity-LLC-CAHUS/dp/B004S8F7QM</div>
  </div>
  <div class="field">
    <%= f.text_field :aff_tag, placeholder: "Enter your Amazon affiliate tag" %>
    <div class="form-example">e.g. georbani-20</div>
  </div>
  <div class="actions">
    <%= f.submit "Generate", class: "btn btn-success" %>
  </div>
<% end %>
