body{
  background-image: image-url("bg-pattern.png");
}

h1 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
}
h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 12px;
}
h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

#logo-wrapper{
  text-align: center;
  padding: 30px 0;
  font-size: 2.2em;
  display:block;
}
#logo-wrapper a{
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}
#logo-wrapper a:hover{
  -webkit-filter: drop-shadow( 0 0 4px rgba(255,204,0,0.5) );
            filter: drop-shadow( 0 0 4px rgba(255,204,0,0.5) );
}

#logo-img{
  display: inline-block;
  height: 50px;
  position: relative;
  top: -5px;
}
#logo-tag{
  font-size: 0.45em;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.btn {
  border-radius: 0;
}

.btn-success{
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 8px;
  font-size: 1.25em;
}

.generate-box {
  background-color: #FFCC00;
  padding: 15px;
}
.feature-box {
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
}
.feature-box h2{
  padding-bottom:10px;
  padding-top:10px;
}

.feature-msg {
  padding:30px;
}

.row {
  margin-bottom:30px;
}

.row > .row {
  margin-bottom:0;
}
.article-wrapper{
  background: white;
  background-clip: content-box;
  padding: 0 30px 0 0;
}

.article-wrapper > .row{
  padding: 30px;
}

.grouped-fields {
  border-bottom: 1px dashed #eee;
  padding: 10px 0;
}

.sales-rank {
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px dashed #eee;
}
.sales-rank-number{
  font-size: 30px;
  font-weight: bold;
}
.article-left-sidebar{
  text-align: center;
}
.article-left-sidebar .glyphicon-fire {
  color: #C52500;
  font-size: 18px;
  padding-top: 5px;
}
.feature-msg .col-md-4 {
  padding: 15px 10px;
  border-right: 1px solid #eee;
}
.feature-msg .col-md-4:last-child {
  border-right: 0;
}
.how-it-works-horizontal{
  padding: 15px 0;
  border-top: 1px dashed #eee;
}
.form-example {
  font-size: 0.8em;
  padding-bottom: 5px;
  font-style: oblique;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #428bca;
  border-color: #357ebd;
}

@media (max-width: 1024px) {
  .my_clip_button{
    display:none;
  }
}
