body{
  background-image: image-url("bg-pattern.png");
}

h1 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
}
h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 12px;
}
h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

#logo-wrapper{
  text-align: center;
  padding: 30px 0;
  font-size: 2.2em;
  display:block;
}
#logo-wrapper a{
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}
#logo-wrapper a:hover{
  -webkit-filter: drop-shadow( 0 0 4px rgba(255,204,0,0.5) );
            filter: drop-shadow( 0 0 4px rgba(255,204,0,0.5) );
}

#logo-img{
  display: inline-block;
  height: 50px;
  position: relative;
  top: -5px;
}
#logo-tag{
  font-size: 0.45em;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.btn {
  border-radius: 0;
}

.btn-success{
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 8px;
  font-size: 1.25em;
}

.generate-box {
  background-color: #FFCC00;
  padding: 15px;
}
.feature-box {
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
}
.feature-box h2{
  padding-bottom:10px;
  padding-top:10px;
}

.feature-msg {
  padding:30px;
}

.row {
  margin-bottom:30px;
}

.row > .row {
  margin-bottom:0;
}
.article-wrapper{
  background: white;
  background-clip: content-box;
  padding: 0 30px 0 0;
}

.article-wrapper > .row{
  padding: 30px;
}

.grouped-fields {
  border-bottom: 1px dashed #eee;
  padding: 10px 0;
}

.sales-rank {
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px dashed #eee;
}
.sales-rank-number{
  font-size: 30px;
  font-weight: bold;
}
.article-left-sidebar{
  text-align: center;
}
.article-left-sidebar .glyphicon-fire {
  color: #C52500;
  font-size: 18px;
  padding-top: 5px;
}
.feature-msg .col-md-4 {
  padding: 15px 10px;
  border-right: 1px solid #eee;
}
.feature-msg .col-md-4:last-child {
  border-right: 0;
}
.how-it-works-horizontal{
  padding: 15px 0;
  border-top: 1px dashed #eee;
}
.form-example {
  font-size: 0.8em;
  padding-bottom: 5px;
  font-style: oblique;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #428bca;
  border-color: #357ebd;
}

@media (max-width: 1024px) {
  .my_clip_button{
    display:none;
  }
}

#devise-menu{
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.75);
}

.notice{
  display:block;
  text-align:center;
  background: rgba(93, 186, 93, 0.75);
  color: #ffffff;
}

.alert{
  display:block;
  text-align:center;
  background: rgba(255, 204, 0, 0.75);
  color: #ffffff;
  font-weight:bold;
}

.devise-form{
  background: rgba(255, 255, 255, 0.75);
  padding: 20px;
}

#sales-rank-whats-this{
  font-size: 10px;
  text-align:center;
}


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
